:root {
    --color-logo-heading: #011C44;
    --color-heading: #2B7FFF;
}

ul {
    list-style-type: none;
}

body {
    color: var(--color-logo-heading);
    font-family: Roboto;
font-size: 22px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
}

h2 {
    color: var(--color-logo-heading);
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
}
span {
    color: var(--color-heading);
}

.main_title {
    color: var(--color-heading);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    letter-spacing: 0em;
    text-align: left;
}

.button {
    background: var(--color-heading);
    width: Hug (219px);
    height:  Hug (53px);
    padding: 16px, 32px, 16px, 32px;
    border-radius: 32px;
    gap: 10px;

}

.link {
    color: var(--color-logo-heading);
    ;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.link_footer {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.link:hover {
    font-family: Roboto;
    color: var(--color-heading);
    ;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.main_title {
    color: var(--color-heading);
    ;
}

.logo {
    color: var(--color-heading );
    font-family: Roboto;
}



footer {
    background-color: var(--color-logo-heading);
    ;
}